body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: #fffceb;
    font-family: "Momo Signature", cursive;
}

#wrapper {
    width: 100%;
}

#navbar {
    position: relative;
    z-index: 10;
    overflow: hidden;
    background-color: #f4eee0;
    padding-right: 100px;
    border-bottom: 3px solid #323131;
}

#navbar a {
    float: right;
    display: block;
    color: #323131;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 25px;
}

#navbar a:hover {
    background-color: #c5bebe;
    color: #323131;
}

#navbar a.active {
    background-color: #c5bebe;
    color: #323131;
}

.title {
    width: 900px;
    height: auto;
    display: block;
    margin: -90px auto;
}

#about {
    width: 900px;
    margin: auto;
    font-size: 25px;
    text-align: justify;
    font-family: "Caveat", cursive;
}

code {
    font-style: oblique;
    font-family: "Momo Signature", cursive;
}

.top {
    font-size: 30px;
}

.bottom {
    font-size: 40px;
}


@media screen and (max-width: 480px) {
    
    body {
        overflow-x: hidden;
        width: 100%;
    }

    header {
        padding: 10px 15px;
    }

    nav {
        width: 100%;
    }

    #navbar a {
        font-size: 15px;
    }

    .title {
        width: 100%;
        max-width: 480px;
        margin: auto;
    }
    
    #about {
        width: calc(100% - 20px);
        margin: auto;
        padding: 10px;
    }

    .top {
        font-size: 20px;
    }

    .bottom {
        font-size: 25px;
    }
}
